.row > td {
    padding: 0.1rem 0.4rem;
}

.actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 0.4rem;
    row-gap: 0.2rem;
}
.btn_green {
    padding: 0.1rem 0.4rem;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #00ff00;
    border-radius: 0.35rem;
    background: rgba(0, 255, 0, 0.4);
}
.btn_green:hover {
    background: rgba(0, 255, 0, 0.55);
}
.btn_red {
    padding: 0.1rem 0.4rem;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 0.35rem;
    background: rgba(255, 0, 0, 0.4);
}
.btn_red:hover {
    background: rgba(255, 0, 0, 0.55);
}
@media screen and (max-width: 480px) {
    .row > td {
        padding: 0.1rem 0.1rem;
    }
    .row > td > input {
        font-size: 0.7rem;
        max-width: 2.5rem;
    }
    .row > td > select {
        font-size: 0.7rem;
    }
    .color_select {
        width: 1.5rem;
        max-height: 1.5rem;
        padding: 0;
    }
}