.main {
    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../../../public/backgd-main.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: #fcac25;
    margin-bottom: 1rem;
    padding-bottom: 0.6rem;
    border-bottom: 2px solid #c67623;
}
.card_wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}
@media screen and (max-width: 800px) {
    .container {
        padding: 0.7rem 1.33rem;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 1.6rem;
        margin-bottom: 0.9rem;
        padding-bottom: 0.5rem;
    }
    .card_wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 0.4rem;
        row-gap: 0.4rem;
    }
}
@media screen and (max-width: 480px) {
    .container {
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .title {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
        padding-bottom: 0.4rem;
    }
    .card_wrapper {
        display: grid;
        grid-template-columns: repeat(1, auto);
        column-gap: 0.4rem;
        row-gap: 0.4rem;
    }
}